
nav {
	background: none;
	box-shadow: none;
}

input {
	color: white;
}

.no-margin{
	margin-bottom: 0px;
}

.remote {
	padding-top: 20px;
}

.main {
	background-color: blue;
}

.expand{
	height:100%;
}

body {
	background: rgba(0, 0, 0, 0.2) url("../seamless-dark-wood-texture.jpg");
}

.no-shadow{
	box-shadow: none
}

.no-shadow:hover{
	box-shadow:none;
}

.song-container {
	overflow: auto;
}

h5 {
	color:white;
}

.other {
	margin-top: 10vh;
}
.collection-center{
	margin-top: -8px;
}
.center_info {
	margin-top: 0.075vh;
	margin-left:0.1vh;
}
.avatar-center{
	margin-top:1.5vh;
}
.force-right
{
	margin-right: 8vh;
}

.collection-item > button {
	/* slightly adjust the vertical centering of the button */
	margin: 0 5px;
	margin-top: -2px;
}

.collection-item > a {
	/* slightly adjust the vertical centering of the link */
	margin: 0 20px;
	margin-top: 5px;
	margin-right: 0;
}

.control1 {
	float: left;
	width: 80px;
}

.control2 {
	float: right;
	width: 50px;
}

.title {
	/* Add on control1 and control2 to 10px margins */
	margin-left: 90px;
	margin-right: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.sortable-ghost {
	background-color: #ddd !important;
}

.sortable-draggable {
	margin-left: 0 !important;
	padding-right: 10px;
	cursor: grab;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder { /* Firefox 18- */
	color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: white;
}

:-ms-input-placeholder {  
	color: white;
}

#top-loading {
	margin: 0;
	position: absolute;
}

#volume-icon {
	/* yay hacky fixed pixel adjustments */
	margin-top: 15px;
	margin-left: 10px;
	color: white;
}

#preloading-fullscreen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: #ddd;
	/* for centering the inside div */
	display: flex;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 0.5s linear;
}

#preloading-fullscreen > div {
	/* for centering the inside div */
	margin: auto;
	text-align: center;
}

#preloading-text {
	font-weight: bold;
}
